@if index($btn-types, danger){

    .btn--danger{
        background-color: #FC5A5A;
   
        &:active{
            background-color: darken(#FC5A5A, 10%);
        }

        @media (hover:hover){
            &:hover,
            &:focus{
                border-radius: 12px;

box-shadow: 0px 4px 10px 0px rgba(240, 127, 46, 0.25);

background-color: lighten(#FC5A5A,10%);
            }
        }

        &[disabled]{

background-color: rgb(181, 181, 190);
        }
    }
}